# Link URLs to correct containers
map $http_host $upstream {
    # Default to 404 if no match is found
    default 404;

    # Map the hostnames to their containers
    ${INFLUX_HOST} influxdb;
    ${GRAFANA_HOST} grafana;
    ${NODERED_HOST} nodered;
    ${MOSQUITTO_HOST} mosquitto;
}