[[outputs.influxdb_v2]]
  urls = ["http://${INFLUXDB_HOSTNAME}:${INFLUXDB_PORT}"]
  token = "${INFLUXDB_TOKEN}"
  organization = "${INFLUXDB_ORG}"
  bucket = "${INFLUXDB_BUCKET}"

[[inputs.mqtt_consumer]]
  servers = ["tcp://mosquitto:1883"]
  topics = ["iot/temperature"]
  data_format = "json"
  tag_keys = ["device"]
  name_override = "iot_data"
  client_id = "telegraf-mqtt"
  qos = 1   #0 = At most once, 1 = 	At least once, 2 = 	Exactly once