tunnel: ${TUNNEL_ID}
credentials-file: /etc/cloudflared/credentials.json

ingress:
  - hostname: '${WILDCARD_DOMAIN}'
    service: https://nginx:443
    originRequest:
            noTLSVerify: true #skip TLS verification, as communication occurs through the Docker network
  - service: http_status:404